@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* common-css */
  h1 {
    font-size: 32px;
  }
  p {
    font-style: 15px;
    line-height: 25px;
  }
  .flex-between {
    flex-direction: column;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }
  /* header */
  /* nav */
  .top-nav {
    padding: 30px 10px;
  }
  .logo-part img {
    width: 18%;
  }
  .logo-part h1 {
    font-size: 30px;
    margin-left: 10px;
  }
  .navbar ul li {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  .fa-brands {
    font-size: 20px;
  }
  /* banner */

  .banner-section {
    background-image: none;
    padding: 10px;
    background-repeat: no-repeat;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-text {
    background-image: url("../images/Group\ 14.png");
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
  }
  .text-big {
    font-size: 40px;
  }
  .banner-img img {
    width: 90%;
    height: 400px;
  }
  .btns button {
    margin-right: 5px;
    margin-top: 10px;
  }
  /* banner-2-section */
  .banner-2-section {
    background-color: #ffffff;
    padding: 20px 10px;
  }
  .banner-2 div {
    width: 100%;
  }
  .banner-2-text {
    text-align: center;
  }
  .banner-2-text h1,
  .banner-2-text p {
    margin: 15px 0;
  }
  .banner-2-text p {
    margin: 20px 0;
  }

  /* videos-section */
  .videos-section {
    padding: 30px 20px;
  }
  .videos-section p {
    margin-bottom: 20px;
  }
  .video-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  /* play-section */
  .play-section {
    padding: 20px 40px;
  }
  .play-section-text {
    text-align: center;
  }
  .play-section-text h1,
  .play-section-text p {
    width: 100%;
  }
  .main-img {
    width: 100%;
  }
  .overlap-img img {
    position: absolute;
    width: 40%;
    right: 75%;
    top: 60%;
  }
  /* careers-section*/
  .careers-contents div {
    width: 100%;
  }

  /* games-types-section */
  .games-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
  }
  .type {
    padding: 6px 10px;
    border-radius: 50px;
  }
  .type:hover {
    border: 2px solid #ff42a5;
    padding: 4px 8px;
    color: #ff42a5;
  }
  .type img {
    width: 25px;
    margin-right: 7px;
  }
  .type h4 {
    font-size: 10px;
  }

  /* footer */
  footer {
    padding: 80px 20px;
  }
  .footer-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
 
  .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-contents ul,
  .social-icons,
  .copyright-section ul,
  .copyright-section p {
    margin-top: 25px;
  }
  .footer-contents ul li,
  .copyright-section ul li,
  .social-icons i {
    margin-left: 15px;
    margin-top: 20px;
  }
  .footer-contents .logo-part img {
    width: 20%;
  }
  .copyright-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .copyright-section p,
  .copyright-section ul li {
    margin-left: 10px;
    font-size: 13px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  /* common-css */
  h1 {
    font-size: 45px;
  }
  p {
    font-style: 18px;
    line-height: 25px;
  }
  .btn {
    padding: 13px 23px;
    font-size: 15px;
    font-weight: 600;
  }
  /* header */
  /* nav */
  .top-nav {
    padding: 20px 10px;
  }
  nav {
    flex-direction: column;
  }
  .logo-part img {
    width: 40px;
  }
  .logo-part h1 {
    font-size: 30px;
    margin-left: 10px;
  }
  .navbar ul {
    margin-top: 20px;
  }
  .navbar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  .follow-part {
    background-color: rgba(11, 2, 35, 0.1);
    padding: 10px 10px;
    border-radius: 6px;
  }
  .fa-brands {
    font-size: 20px;
  }

  /* banner */

  .banner-section {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-text {
    background-image: url("../images/Group\ 14.png");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
  }
  .text-big {
    font-size: 65px;
  }
  .banner-img img {
    width: 90%;
    height: auto;
  }
  /* banner-2-section */
  .banner-2-section {
    background-color: #ffffff;
    padding: 40px 20px;
  }
  .banner-2 {
    flex-direction: column;
  }
  .banner-2 div {
    width: 100%;
  }
  .banner-2-text {
    text-align: center;
  }
  .banner-2-text h1,
  .banner-2-text p {
    margin: 15px 0;
  }
  .banner-2-text p {
    margin: 30px 0;
  }
  /* videos-section */
  .videos-section {
    padding: 40px 20px;
  }
  .video-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /* play-section */
  .play-section {
    padding: 20px 70px;
    flex-direction: column;
  }
  .play-section-text {
    text-align: center;
  }
  .play-section-text h1,
  .play-section-text p {
    width: 100%;
  }
  .main-img {
    width: 100%;
  }
  .overlap-img img {
    position: absolute;
    width: 45%;
    right: 75%;
    top: 60%;
  }
  /* careers-section*/
  .careers-contents div {
    width: 100%;
  }
  .careers-text p {
    color: #fff;
    padding: 20px 0;
  }
  /* games-types-section */
  .games-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .type {
    padding: 10px 15px;
  }
  .type:hover {
    border: 2px solid #ff42a5;
    padding: 4px 8px;
    color: #ff42a5;
  }
  .type img {
    width: 45px;
    margin-right: 15px;
  }
  .type h4 {
    font-size: 15px;
  }
}
