@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* common-css */
  h1 {
    font-size: 40px;
  }
  p {
    font-style: 18px;
    line-height: 30px;
  }
  .flex-between {
    flex-direction: column;
  }
  /* header */
  header {
    padding: 30px 10px;
  }
  .logo-part img {
    width: 18%;
  }
  .logo-part h1 {
    font-size: 30px;
    margin-left: 10px;
  }
  .navbar ul li {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  .fa-brands {
    font-size: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  /* common-css */
  h1 {
    font-size: 45px;
  }
  p {
    font-style: 18px;
    line-height: 30px;
  }
  /* header */
  header {
    padding: 20px 10px;
  }
  .logo-part img {
    width: 40px;
  }
  .logo-part h1 {
    font-size: 30px;
    margin-left: 10px;
  }
  .navbar ul li {
   margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .follow-part {
    background-color: rgba(11, 2, 35, 0.1);
    padding: 10px 10px;
    border-radius: 6px;
  }
  .fa-brands {
    font-size: 20px;
  }
}
